/*  Estilos generales*/
*{
    box-sizing: border-box;
  
    font-family: 'Inconsolata', monospace;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  
.inactive {
    display: none !important;
}


/* eltilos para el aletra de arriba */
.close-img-container {
    display: flex;

}

.img-close-alert{
    position: absolute;
    left: 97%;
    top: 35%;
    color: #000;
}
.span-close-alert {
    position: absolute;
    left: 93%;
    top: 30%;
    color: #818181;
}




/*Estilos del menu nav*/
.flex-container {
    display: flex;
    height: 177px;
    justify-content: space-evenly;
}
.flex-item {
    width: 120px;
}
/* contact-menu*/
.contact-menu {
    min-width: 200px;
    justify-content: center;
    padding-left: 5px;
}

.contact-menu p{
    font-size: 20px;
}
.contact-menu h4 {
    font-size: 20px;
}
/* principal-menu*/
.principal-menu {
    min-width: 577px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.flexPrincipalChild {
    align-content: flex-start;
    min-width: 500px;
    margin: auto;
}


.h1-menu {
    color: #454546;
    font-size: 64px;
    font-style: initial;
    font-weight: bolder;
    width: 100%;
    margin-top: 0 ;
    margin-bottom: 5px ;
    border-bottom: 1px solid #ccc;
    letter-spacing: 5px;
}
.navbar-ul {
background: none;
display: flex;
position: static;
width: 100%;
justify-content: space-evenly;
}
.navbar-li {
    display: block;
    position: relative;
    padding: 20px;
}
.navbar-li:hover  {
    background: #454546;
    color: #fff;
}
.navbar-li:hover a {
    background: #454546;
    color: #fff;
}

.principal-menu a {
    text-decoration: none;
    color: #333;
    
}


/* right-menu*/
.right-menu {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
}
.user-cart-container {
    display: flex;
    justify-items: center;
    margin-bottom: 0;
}

.user-icon {
    margin: 10px 20px;
}
.button-cart {
    min-width: 130px !important;
    height: 37px !important;
    display: block;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
    resize: both;
    
}
.button-cart:hover {
    color: #fff;
    background: #454546;
    border-radius: 5px;
}
.button-cart:hover  i {
    color: #fff;
    background: #454546;
}

#form-search {
margin-top: 0;
    
}

#form-search input{
    min-width: 150px;
    height: 40px;
    border: none;
    border-bottom: 3px solid #333;
    background: transparent;
    color: #fff;
}
#form-search input:focus {
    background: linear-gradient(to bottom, transparent, #818181);
    outline: none;
    border-bottom: 3px solid #333;
}


/* aside login styles */

.aside-login-e {
    background-color: transparent;
    bottom: 0;
    color: #fff;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .6s;
    z-index: 10000;

}
.login-container {
    align-items: center;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    margin-left: auto;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    width: 450px;
    z-index: 1000000;
}
.login-close {
    padding: 15px 20px;
    left: 30px;
    position: absolute;
    top: 20px;
}
.login-container h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.form-container {
    background: #343a43;
    padding: 40px;
    width: 90%;
    
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 20px;
}
.input-container input {
    padding: 8px;
    border: none;
    border-bottom: 3px solid #08c6ab;
    background: transparent;
    color: #fff;
}
.input-container input:focus {
    background: linear-gradient(to bottom, transparent, #4edfc9);
    outline: none;
    border-bottom: 3px solid #08c6ab;
}

.input-container small {
    color: #aaa;
}
.button-group  {
    display: flex;
    justify-content: space-between;

}
.btn-login {
    border: none;
    border-radius: 5px;
    background: #08c6ab;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    width: 100px;

}
.btn-transparent {
    border: none;
    border-radius: 5px;
    color: #08bda2;
    background: transparent;
    padding: 7px;
    width: 160px;
    transition: background-color .3s;
    

}
.btn-transparent:hover {
    background-color: rgba(60, 242, 248, 0.1);
}
.btn-transparent:active {
    animation: gradient 200ms;
        background: rgba(60, 242, 248, 0.3);
        color: #08c6ab;
        box-shadow: none;
}
@keyframes gradient {
0% {
background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #08c6ab 0%, #08c6ab 100%);
}
25% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.3) 24%, #08c6ab 25%, #08c6ab 100%);
}
50% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.5) 49%, #08c6ab 50%, #08c6ab 100%);
}
75% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.8) 74%, #08c6ab 75%, #08c6ab 100%);
}
100% {
color: #fff;
background: radial-gradient(circle at center, rgb(83, 240, 219) 99%, #08c6ab 100%, #08c6ab 100%);
}
}

/*
  Slide banner section
*/

.section-slide {
    height: 600px;
    margin-top: 100px;
}
.color-fonts{
    color: #000;
}
.buttom-slide {
    background: transparent;
    min-width: 130px !important;
    height: 37px !important;
    color: #fff;
    border: 2px solid #08c6ab;
    text-decoration: none;
    resize: both;
    transition: all .8s;
}
.buttom-slide:hover {
    color: #fff;
    background: #08c6ab;
    border-radius: 5px;
}


/* styles of product list */
.contenedor-lista-de-productos {
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-card {
    margin: 20px 20px;
    border-radius: 20px;
    background: #eeeded;
}

.main-container {
    margin-top: 50px;
}
.titulo-listProduct {
    text-align: center;
    padding: 10px;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }
  .product-card {
    width: 240px;
    height: 370px;
    box-shadow: 3px 7px 20px rgb(77 87 222 / 15% );
    transition: all 0.5s;
    text-align: center;
  }
  .product-card:hover {
    box-shadow: 5px 15px 30px rgb(77 87 222 / 30% );
    width: 243px;
    height: 373px;
  }
  .product-card img {
    width: 225px;
    height: 225px;
    object-fit: cover ;

    
  }
  .product-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--lg);
    margin-top: 0;
    margin-bottom: 0;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
  }

  .nombreproduct {
    margin-top: 5px;
    margin-bottom: 0;
  }


/* section of card info */
  .about {
    padding: 82px 0;
}

.section__title {
    text-align: center;
    padding-bottom: 30px;
}

.section__title h2 {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    text-transform: capitalize;
    margin-top: 20px;
}
.about .member {
    padding: 30px;
    border-radius: 5px;
    transition: all .5s;
}

.about .member:hover {
    box-shadow: 0 15px 30px rgb(77 87 222 / 30% );
}

.about .member h4 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 5px;
}

.about .member .pic {
    overflow: hidden;
    width: 180px;
    border-radius: 50%;
}

.about .member span{
    display: block;
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #ccc;
}

.about .member p{
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #aaa;
}

.about .member a{
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 38px;
    height: 38px;
    border: 1px solid;
    color: rgb(65, 65, 172);
}

.about .member a:hover {
    background-color: rgb(66, 66, 170);
    color: #aaa;
}
.buttom-cardInfo {
    background: transparent;
    min-width: 130px !important;
    height: 37px !important;
    color: #000;
    border: 2px solid #08c6ab;
    text-decoration: none;
    resize: both;
    transition: all .8s;
  }
  .buttom-cardInfo:hover {
    color: #000;
    background: #08c6ab;
    border-radius: 5px;
  }


.footer-container {
    margin-top: 30px;
    background: #000;
    display: flex;
    flex-wrap: wrap;
}

  


  @media (max-width: 640px) {
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
  }



  