/*  Estilos generales*/
*{
    box-sizing: border-box;
  
    font-family: 'Inconsolata', monospace;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  
.inactive {
    display: none !important;
}


/*Estilos del menu nav*/

.flex-container {
    display: flex;
    height: 177px;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.flex-item {
    width: 120px;
}
/* contact-menu*/
.contact-menu {
    min-width: 200px;
    justify-content: center;
    padding-left: 5px;
}

.contact-menu p{
    font-size: 20px;
}
.contact-menu h4 {
    font-size: 20px;
}
/* principal-menu*/
.principal-menu {
    min-width: 577px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.flexPrincipalChild {
    align-content: flex-start;
    min-width: 500px;
    margin: auto;
}


.h1-menu {
    color: #454546;
    font-size: 64px;
    font-style: initial;
    font-weight: bolder;
    width: 100%;
    margin-top: 0 ;
    margin-bottom: 5px ;
    border-bottom: 1px solid #ccc;
    letter-spacing: 5px;
}
.navbar-ul {
background: none;
display: flex;
position: static;
width: 100%;
justify-content: space-evenly;
}
.navbar-li {
    display: block;
    position: relative;
    padding: 20px;
}
.navbar-li:hover  {
    background: #454546;
    color: #fff;
}
.navbar-li:hover a {
    background: #454546;
    color: #fff;
}

.principal-menu a {
    text-decoration: none;
    color: #333;
    
}


/* right-menu*/
.right-menu {
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;
}
.user-cart-container {
    display: flex;
    justify-items: center;
    margin-bottom: 0;
}

.user-icon {
    margin: 10px 20px;
}
.button-cart {
    min-width: 130px !important;
    height: 37px !important;
    display: block;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
    resize: both;
    
}
.button-cart:hover {
    color: #fff;
    background: #454546;
    border-radius: 5px;
}
.button-cart:hover  i {
    color: #fff;
    background: #454546;
}
.link__button-cart {
    text-decoration: none;
}

#form-search {
margin-top: 0;
    
}

#form-search input{
    min-width: 150px;
    height: 40px;
    border: none;
    border-bottom: 3px solid #333;
    background: transparent;
    color: #fff;
}
#form-search input:focus {
    background: linear-gradient(to bottom, transparent, #818181);
    outline: none;
    border-bottom: 3px solid #333;
}


/* aside login styles */

.aside-login-e {
    background-color: transparent;
    bottom: 0;
    color: #fff;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .6s;
    z-index: 10000;

}
.login-container {
    align-items: center;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    margin-left: auto;
    min-height: 100vh;
    padding: 20px;
    position: relative;
    width: 450px;
    z-index: 1000000;
}
.login-closed {
   position: relative;
    right: 200px;
    bottom: 25px;
    font-size: 1.3em;
}
.login-container h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.form-container {
    background: #343a43;
    padding: 40px;
    width: 90%;
    
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 20px;
}
.input-container input {
    padding: 8px;
    border: none;
    border-bottom: 3px solid #08c6ab;
    background: transparent;
    color: #fff;
}
.input-container input:focus {
    background: linear-gradient(to bottom, transparent, #4edfc9);
    outline: none;
    border-bottom: 3px solid #08c6ab;
}

.input-container small {
    color: #aaa;
}
.button-group  {
    display: flex;
    justify-content: space-between;

}
.btn-login {
    border: none;
    border-radius: 5px;
    background: #08c6ab;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    width: 100px;

}
.btn-transparent {
    border: none;
    border-radius: 5px;
    color: #08bda2;
    background: transparent;
    padding: 7px;
    width: 160px;
    transition: background-color .3s;
    

}
.btn-transparent:hover {
    background-color: rgba(60, 242, 248, 0.1);
}
.btn-transparent:active {
    animation: gradient 200ms;
        background: rgba(60, 242, 248, 0.3);
        color: #08c6ab;
        box-shadow: none;
}
@keyframes gradient {
0% {
background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, #08c6ab 0%, #08c6ab 100%);
}
25% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.3) 24%, #08c6ab 25%, #08c6ab 100%);
}
50% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.5) 49%, #08c6ab 50%, #08c6ab 100%);
}
75% {
background: radial-gradient(circle at center, rgba(60, 242, 248, 0.8) 74%, #08c6ab 75%, #08c6ab 100%);
}
100% {
color: #fff;
background: radial-gradient(circle at center, rgb(83, 240, 219) 99%, #08c6ab 100%, #08c6ab 100%);
}
}

/* Estilos para el titulo del apartado de SHOP  O STORE */  


.TituloH1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #646464;
    text-align: left;
}
.TituloH1 b {
    color: #000000;
}
.ayuda {
   padding-left: 100px;
}

.contenedor-help {
    margin: 15px 5px;
}
.contenedor-help p {
    margin: 0;
}
.transparent-ayuda:hover {
    background-color: rgba(40, 176, 181, 0.1);
}
.contenedor-pagos p {
    margin: 0;
}


/* styles of product list */
.contenedor-lista-de-productos {
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-card {
    margin: 20px 20px;
    border-radius: 20px;
    background: #eeeded;
}

.main-container {
    margin-top: 50px;
}
.titulo-listProduct {
    text-align: center;
    padding: 10px;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }
  .product-card {
    width: 240px;
    height: 370px;
    box-shadow: 3px 7px 20px rgb(77 87 222 / 15% );
    transition: all 0.5s;
    text-align: center;
  }
  .product-card:hover {
    box-shadow: 5px 15px 30px rgb(77 87 222 / 30% );
    width: 243px;
    height: 373px;
  }
  .product-card img {
    width: 225px;
    height: 225px;
    object-fit: cover ;

    
  }
  .product-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--lg);
    margin-top: 0;
    margin-bottom: 0;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
  }

  .nombreproduct {
    margin-top: 5px;
    margin-bottom: 0;
  }



/*
Styles for the cart shop
*/

.botones {
    float: left;
    margin: 5px;
}

.cart-icon-add {
    text-decoration: none !important;
}
.eliminar-carrito {
    padding-top: 10px;
    font-size: 1.2m;
    color: rgb(255, 75, 75);
    
}
.eliminar-carrito:hover {
    color: #f00;
}

.comprar-carrito {
    margin-bottom: 10px;
    display: block;
    width: fit-content;
}

/* apartado de domicilio*/

.contenedor-domicilio {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 3px solid #f00;
    border-radius: 5px;
    background: rgba(255,255,255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255, 0.18);
    padding: 5px;

}

.contenedor-sin-domicilio {
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 3px solid #f00;
    border-radius: 5px;
    background: rgba(255,255,255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255, 0.18);
    padding: 5px;
}
.titulo-direccion {
    margin-bottom: 10px;
    color: rgb(221, 33, 33);
    margin-left: 20px;
}

.rows-md3-domi {
    text-align: center;
    justify-items: center;
}
.button-editar-domi {
    position: relative;
    bottom: 15px;
}
/* formulario domicilio*/
.encabezado-formulario {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 15px;
}


/* Estilos de proceso de compra*/

.input-count {
    width: fit-content;
}
.input-count input {
    width: 60px;
}




.container-mobible {
    position: absolute;
    left: 37%;
    top: 97%;
    z-index: 2;
    
}

/* formulario de ingreso de pago a inox bank*/







/* Diseño del lado derecho de inicio de sesion o formulacio*/

.lado-formulario {
    
    height: 90vh;
    padding: 20px;
    align-items: center;
    text-align: left;
    
}
.head-form {
    text-align: center;
}

.formulario-login {
    padding: 50px;
    border-radius: 20px;
    background-color: #ffffff;
    height: 100%;
    /* width: 90%; */
    transition: all 0.5s;
    box-shadow:  7px 15px 25px #006494;
    margin-right: 0;
}

.formulario-login h3 {
    
    color: #003554;
}
.formulario-login small {
    color: #006494;
    
}

.linkRegister {
    text-decoration: none;
    color: #004f74;
    font-size: 17px;
}

.linkRegister:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #0b6189;
    text-decoration: none;
    color: #0b6189;
}



.correo-form {
    margin-top: 40px;
    margin-bottom: 10px;

}
.correo-form input {
    width: 100%;
    outline: none;
    border: 1px solid #064d76;
    border-radius: 5px;
    color: #003554;
    height: 45px;
    transition: all 0.5s;


}
.correo-form p {
    color: #003554;
}
.correo-form input::placeholder {
    color: #006494;
}
.correo-form input:focus {
    box-shadow: 0px 2px 7px #006494;
    height: 47px;
}

.contrasena-form {
    margin-top: 40px;
    margin-bottom: 10px;

}

.contrasena-form input {
    width: 100%;
    outline: none;
    border: 1px solid #064d76;
    border-radius: 5px;
    color: #003554;
    height: 45px;
    transition: all 0.5s;
}
.contrasena-form p {
    color: #003554;
}
.contrasena-form input::placeholder {
    color: #006494;
}
.contrasena-form input:focus {
    box-shadow: 0px 2px 7px #006494;
    height: 47px;
}

.boton-login{
    text-align: center;
    margin-top: 60px;
}
.boton-login input {
    width: 80%;
}

.btn-register {
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background: #006494;
    color: #fff;
    padding: 8px 20px;
    transition: all 0.6s;
    margin-right: 5px ;
    width: 170px;
}

.btn-register:hover {
   color: #fff;
   background: #0380ba;

}

/*   mensaje por validacion de inicio de sesion*/
.alert-sesionFalse {
    color: #ff0000 !important;
    text-align: center;
    margin-top: 20px;
}


/* estylos de factura  */
.link-profile {
    text-decoration: none;
    color: #000;
}

.navbar-factura {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #888;
}


.titulo-direccion {
    display: block;
    color: #000;
    font-size: 1.4em;
}

.contenedor-factura {
    justify-content: center;
    width: 90%;
}