    

      {{!-- <div class="container p-4">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="card text-center">
              <div class="card-body">
                <h3>Bienvenido {{user.Correo}} {{user.Apellido}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div> --}}


    {{#if user}}

    <!-- Barra de navegacion movil -->
<nav class="navbar navbar-expand-md fixed-top navbar-movil">
  <div class="container">
    <a class="navbar-brand text-white fs-3 name-bank" href="/profile">I N O X</a>
    <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i
          class="bi bi-list iconHamb"
        ></i></span>
    </button>

    <div class="collapse  navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ms-auto me-lg-8 py-3">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/profile">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Descubre</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/shop">Tienda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>

        <li class="nav-item">
          <a href="/profile/ordenes" class="nav-link"><i class="user-icon fas fa-user"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class=" fas fa-shopping-cart"></i></a>
        </li>

        <li class="nav-item">
         
            <a href="/logout" class="nav-link"><i class="bi bi-box-arrow-right"></i></a>
          
        </li>
      </ul>
      <!-- <a class="btn-custom ms-lg-2 btn-login" href="vistas/login.html">Iniciar sesión</a>
          <a class="btn-custom ms-lg-2 btn-register" href="vistas/register.html">Registrarse</a> -->
    </div>
  </div>
</nav>
    <!-- Estructura del NavBar del aplicativo -->
    <header class="flex-container">
        <div class="flex-item contact-menu">
            <h4>
                Necesitas ayuda
            </h4>
            <p><i class="fas fa-phone"></i> LLAMA:3043112837</p>
        </div>
        <div class="flex-item principal-menu">
            <h1 class="flexPrincipalChild h1-menu">I X O N</h1>
            <ul class="navbar-ul flexPrincipalChild">
                <li class="navbar-li"><a href="#">INICIO</a></li>
                <li class="navbar-li"><a href="#">NOSOTROS</a></li>
                <li class="navbar-li"><a href="/shop">TIENDA</a></li>
                <li class="navbar-li"><a href="#">CONTACTANOS</a></li>
            </ul>
        </div>
        <div class="flex-item right-menu">
            <div class="user-cart-container">
                <span class="user-icon-container">
                    <a href="/profile/ordenes"><i class="user-icon fas fa-user"></i></a>
                </span>
                <a class="link__button-cart" href="/cart"><button class="button-cart">Carrito
                <i class="fas fa-shopping-cart"><span class="contador-cart">{{contadorCarrito}}</span></i></button></a>
          <span class="logout-container">
            <a href="/logout"><i class="bi bi-box-arrow-right"></i></a>
          </span>
            </div>
            <form id="form-search">
                    <input type="search" placeholder="Buscar producto">
                    <i  class="fas fa-search"></i>
            </form>
        </div>
    </header>
<div class="contenedor-invicible"></div>
    
    <div class="container ">
      <div class="row">
          <div class="col-lg-12 tituloShop">
              <h1 class="TituloH1">Bienvenido a INOX STORE <b id="NombreUsiario-bienvenida">{{user.nombre}}</b></h1>
          </div>
      </div>
  </div>
    <!-- Seccion para el carrusel de imagenes de la pagina principal-->
    <section class="section-slide">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/image/iphone-11.jpg" 
                class="d-block w-100" 
                alt="iphone-11">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">Iphone 11</h5>
                  <p class="color-fonts">Es uno de los móviles mas potentes del mercado...</p>
                  <button class="buttom-slide">COMPRAR</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/image/macBoock.jpg" class="d-block w-100" alt="macBoock">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">MacBoock Pro 13"</h5>
                  <p>Más potencia, mejor estilo y mayor comodidad...</p>
                  <button class="buttom-slide">COMPRAR</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/image/tv-sony.jpg" class="d-block w-100" alt="tv-sony">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">Televisor Smart Sony-C45H 50"</h5>
                  <p class="color-fonts">Con mejor definicón que la que tenía Ronaldo...</p>
                  <button class="buttom-slide">COMPRAR</button>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

    <!-- lista de produtos nuevos -->
    <section class="main-container">
      
      <div class="titulo-listProduct">
        <h3>¡Lo nuevo solo para tí!</h3>
      </div>
      <div class="cards-container">

        <div class="product-card">
          <div class="nombreproduct">
              <h3>Iphone 13</h3>
          </div>
          <img src="/image/1.png" alt="iphone 13">
          <div class="product-info">
            <div>
              <p>$1000</p>
            </div>
            <figure>
              <i class="bi bi-cart-check"></i>
            </figure>
          </div>
      </div>
        

      <div class="product-card">
        <div class="nombreproduct">
            <h3>airPods</h3>
        </div>
        <img src="/image/3.png" alt="iphone 13">
        <div class="product-info">
          <div>
            <p>$250</p>
          </div>
          <figure>
            <i class="bi bi-cart-check"></i>
          </figure>
        </div>
    </div>

    <div class="product-card">
      <div class="nombreproduct">
          <h3>Apple Watch Series 8</h3>
      </div>
      <img src="/image/8.png" alt="iphone 13">
      <div class="product-info">
        <div>
          <p>$400</p>
        </div>
        <figure>
          <i class="bi bi-cart-check"></i>
        </figure>
      </div>
  </div>
  
  <div class="product-card">
    <div class="nombreproduct">
        <h3>Imac 24-inch</h3>
    </div>
    <img src="/image/5.png" alt="iphone 13">
    <div class="product-info">
      <div>
        <p>$1300</p>
      </div>
      <figure>
        <i class="bi bi-cart-check"></i>
      </figure>
    </div>
</div>
        
<div class="product-card">
  <div class="nombreproduct">
      <h3>Pro Display XDR</h3>
  </div>
  <img src="/image/6.png" alt="iphone 13">
  <div class="product-info">
    <div>
      <p>$5000</p>
    </div>
    <figure>
      <i class="bi bi-cart-check"></i>
    </figure>
  </div>
</div>

      </div>
    </section>

    <section class="about">
      <div class="container">
          <div class="section__title">
              <h2>Servicios</h2>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="d-flex member">
                      <div class="pic"><img src="/image/FastRelog.png" class="img-fluid" alt=""></div>
                      <div class="ps-4">
                          <h4>Envío rápido</h4>
                          <span></span>
                          <P>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</P>
                          <div class="d-flex mt-3">
                            <button class="buttom-cardInfo">COMPRAR</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mt-4 mt-lg-0">
                  <div class="d-flex member">
                      <div class="pic"><img src="/image/escudo.jpg" class="img-fluid" alt=""></div>
                      <div class="ps-4">
                          <h4>Protección UV</h4>
                          <span></span>
                          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                          <div class="container-btn-card-info d-flex mt-3">
                            <button class="buttom-cardInfo">COMPRAR</button>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </section>


  <footer>
    <div class="footer-container">
        <div class="item-flex-footer">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        </div>
    
        <div class="item-flex-footer">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        </div>
      </div>
  </footer>




    
    

    {{/if}}