<link rel="stylesheet" type="text/css" href="/css/stylesSHOP.css">

<!-- Estructura del NavBar del aplicativo -->
    <header class="flex-container">
        <div class="flex-item contact-menu">
            <h4>
                Necesitas ayuda
            </h4>
            <p><i class="fas fa-phone"></i> LLAMA:3043112837</p>
        </div>
        <div class="flex-item principal-menu">
            <h1 class="flexPrincipalChild h1-menu"> I X O N</h1>
            <ul class="navbar-ul flexPrincipalChild">
                <li class="navbar-li"><a href="/profile">INICIO</a></li>
                <li class="navbar-li"><a href="#">NOSOTROS</a></li>
                <li class="navbar-li"><a href="#">TIENDA</a></li>
                <li class="navbar-li"><a href="#">CONTACTANOS</a></li>
            </ul>
        </div>
        <div class="flex-item right-menu">
            <div class="user-cart-container">
                <span class="user-icon-container">
                    <i class="user-icon fas fa-user"></i>
                </span>
                <button class="button-cart">Carrito <i class="fas fa-shopping-cart"></i></button>
            </div>
            <form id="form-search">
                    <input type="search" placeholder="Buscar producto">
                    <i  class="fas fa-search"></i>
            </form>
        </div>
    </header>


    

    <!-- Titulo del apartado shop o Store -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 tituloShop">
                <h1 class="TituloH1"> <b>Tienda.</b> Comprar productos tecnológicos con la mejor calidad y el mejor precio.</h1>
            </div>
            <div class="col-lg-4 ayuda">
                <div class="contenedor-help">
                <p><i class="bi bi-exclamation-circle-fill"></i> ¿Necesitas ayuda en tu compra?</p>
                <input type="button" class="btn-transparent transparent-ayuda" value="Contactanos">
                </div>
            
                <div class="contenedor-pagos">
                    <p><i class="bi bi-credit-card-fill"></i> ¡Consulta los metodos de pago!</p>
                    <input type="button" class="btn-transparent transparent-ayuda" value="Más información.">
                </div>
               
            </div>
        </div>
    </div>

    <div class="container contenedor-lista-de-productos" >

        <div class="row" id="productos">

          <!-- Aqui va contenida la lista de los productos de manera dinamica-->

        </div> <!--row-->

    </div>  <!-- contenedor -->




    <script src="utils/shop.js"></script>

     