<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="practicaFlexBox.css">
    <!-- fonts family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" 
    rel="stylesheet">
    <!--fuentes de iconos-->
    <script 
    src="https://kit.fontawesome.com/62ea397d3a.js" 
    crossorigin="anonymous">
    </script>

    <!-- Bootstrap links -->
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    
    <title>bannerSlide component</title>
</head>
<body>
    <style>
        .section-slide {
            height: 600px;
        }
        .color-fonts {
            color: #000;
        }
    </style>
    <section class="section-slide">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/iphone-11.jpg" 
                class="d-block w-100" 
                alt="iphone-11">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">this is an iphone 11</h5>
                  <p class="color-fonts">It is one of the best mobiles in the market</p>
                  <button class="button-cart">SHOP NOW</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="image/macBoock.jpg" class="d-block w-100" alt="macBoock">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                  <button class="button-cart">SHOP NOW</button>
                </div>
              </div>
              <div class="carousel-item">
                <img src="image/tv-sony.jpg" class="d-block w-100" alt="tv-sony">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="color-fonts">Third slide label</h5>
                  <p class="color-fonts">Some representative placeholder content for the third slide.</p>
                  <button class="button-cart">SHOP NOW</button>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

      <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous">
    </script>
    <script 
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" 
    crossorigin="anonymous">
    </script>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" 
    crossorigin="anonymous">
    </script>
</body>
</html>