<link rel="stylesheet" type="text/css" href="/css/stylesSHOP.css" />

<!-- si user-->
 
    {{#if user}}
  <!-- Barra de navegacion movil -->
  <nav class="navbar navbar-expand-md fixed-top navbar-movil">
    <div class="container">
      <a class="navbar-brand text-white fs-3 name-bank" href="/profile">I N O X</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"><i
            class="bi bi-list iconHamb"
          ></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-lg-8 py-3">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/nosotros">Nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/shop">Tienda</a>
          </li>

          <li class="nav-item navbar-li">
          <a class="nav-link" href="#">Contactos</a>
          <ul>
                    <li class="liabout"><a href="mailto:InoxStore@gmail.com" target="_blank">Correo electronico</a></li>
                    <li class="liabout"><a href="https://wa.me/3043112837" target="_blank">Whatsapp</a></li>
                    <li class="liabout"><a href="https://www.facebook.com/esteban.mejia.3192" target="_blank">Facebbok</a></li>
                    <li class="liabout"><a href="https://www.instagram.com/imnotesteban__/" target="_blank">Instagram</a></li>
                  </ul>
        </li>

          <li class="nav-item">
            <a href="/profile/ordenes" class="nav-link"><i
                class="user-icon fas fa-user"
              ></i></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cart"><i
                class="fas fa-shopping-cart"
              ></i></a>
          </li>

          <li class="nav-item">

            <a href="/logout" class="nav-link"><i
                class="bi bi-box-arrow-right"
              ></i></a>

          </li>
        </ul>
        <!-- <a class="btn-custom ms-lg-2 btn-login" href="vistas/login.html">Iniciar sesión</a>
          <a class="btn-custom ms-lg-2 btn-register" href="vistas/register.html">Registrarse</a> -->
      </div>
    </div>
  </nav>

  

  <!-- Estructura del NavBar del aplicativo -->
  <header class="flex-container">
    <div class="flex-item contact-menu">
      <h4>
        Necesitas ayuda
      </h4>
      <p><i class="fas fa-phone"></i> LLAMA:3043112837</p>
    </div>
    <div class="flex-item principal-menu">
      <h1 class="flexPrincipalChild h1-menu"> I X O N</h1>
      <ul class="navbar-ul flexPrincipalChild">
        <li class="navbar-li"><a href="/profile">INICIO</a></li>
        <li class="navbar-li"><a href="/nosotros">NOSOTROS</a></li>
        <li class="navbar-li"><a href="/shop">TIENDA</a></li>
        <li class="navbar-li"><a href="#">CONTACTANOS</a><ul>
                    <li class="liabout"><a href="mailto:InoxStore@gmail.com" target="_blank">Correo electronico</a></li>
                    <li class="liabout"><a href="https://wa.me/3043112837" target="_blank">Whatsapp</a></li>
                    <li class="liabout"><a href="https://www.facebook.com/esteban.mejia.3192" target="_blank">Facebbok</a></li>
                    <li class="liabout"><a href="https://www.instagram.com/imnotesteban__/" target="_blank">Instagram</a></li>
                  </ul></li>
      </ul>
    </div>
    <div class="flex-item right-menu">
      <div class="user-cart-container">
        <span class="user-icon-container">
          <a href="/profile/ordenes"><i class="user-icon fas fa-user"></i></a>
        </span>
        <a class="link__button-cart" href="/cart"><button
            class="button-cart"
          >Carrito
            <i class="fas fa-shopping-cart"><span
                class="contador-cart"
              >{{contadorCarrito}}</span></i></button></a>
        <span class="logout-container">
          <a href="/logout"><i class="bi bi-box-arrow-right"></i></a>
        </span>
      </div>
      <form id="form-search" action="/filter/name/" method="post">
        <input type="search" placeholder="Buscar producto" name="ProductName" />
        <button><i class="fas fa-search"></i></button>
      </form>
    </div>
  </header>
  {{else}}
  

<!-- no user-->
<div class="alert alert-secondary" role="alert">
    Dale click al Icono<i class="user-icon fas fa-user"></i>para ingresar a tu cuenta.
    <div class="close-img-container">
      <span class="span-close-alert">CERRAR</span>
      <img class="img-close-alert" src="icons/icon_close.png">
    </div>  
  </div>

  <!-- Barra de navegacion movil -->
<nav class="navbar navbar-expand-md fixed-top navbar-movil">
  <div class="container">
    <a class="navbar-brand text-white fs-3 name-bank" href="/">I N O X</a>
    <button
      class="navbar-toggler "
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i
          class="bi bi-list iconHamb"
        ></i></span>
    </button>

    <div class="collapse  navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  ms-auto me-lg-8 py-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
        <li class="nav-item navbar-li">
          <a class="nav-link" href="#">Contactos</a>
          <ul>
                    <li class="liabout"><a href="mailto:InoxStore@gmail.com" target="_blank">Correo electronico</a></li>
                    <li class="liabout"><a href="https://wa.me/3043112837" target="_blank">Whatsapp</a></li>
                    <li class="liabout"><a href="https://www.facebook.com/esteban.mejia.3192" target="_blank">Facebbok</a></li>
                    <li class="liabout"><a href="https://www.instagram.com/imnotesteban__/" target="_blank">Instagram</a></li>
                  </ul>
        </li>
        <li class="nav-item">
          <span class="user-icon-container-mobile">
                <i class="user-icon fas fa-user"></i>
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class=" fas fa-shopping-cart"></i></a>
        </li>
        
      </ul>
      <!-- <a class="btn-custom ms-lg-2 btn-login" href="vistas/login.html">Iniciar sesión</a>
          <a class="btn-custom ms-lg-2 btn-register" href="vistas/register.html">Registrarse</a> -->
    </div>
  </div>
</nav>
  <!-- Estructura del NavBar del aplicativo -->
    <header class="flex-container">
        <div class="flex-item contact-menu">
            <h4>
                Necesitas ayuda
            </h4>
            <p><i class="fas fa-phone"></i> LLAMA:3043112837</p>
        </div>
        <div class="flex-item principal-menu">
            <h1 class="flexPrincipalChild h1-menu"> I X O N</h1>
            <ul class="navbar-ul flexPrincipalChild">
                <li class="navbar-li"><a href="/">INICIO</a></li>
                <li class="navbar-li"><a href="/nosotros">NOSOTROS</a></li>
                <li class="navbar-li" id="tiendaSinSesion"><a href="#">TIENDA</a></li>
                <li class="navbar-li"><a href="#">CONTACTANOS</a><ul>
                    <li class="liabout"><a href="mailto:InoxStore@gmail.com" target="_blank">Correo electronico</a></li>
                    <li class="liabout"><a href="https://wa.me/3043112837" target="_blank">Whatsapp</a></li>
                    <li class="liabout"><a href="https://www.facebook.com/esteban.mejia.3192" target="_blank">Facebbok</a></li>
                    <li class="liabout"><a href="https://www.instagram.com/imnotesteban__/" target="_blank">Instagram</a></li>
                  </ul></li>
            </ul>
        </div>
        <div class="flex-item right-menu">
            <div class="user-cart-container">
                <span class="user-icon-container">
                    <i class="user-icon fas fa-user"></i>
                </span>
                <button class="button-cart">Carrito <i class="fas fa-shopping-cart"></i></button>
            </div>
            <form id="form-search">
                    <input type="search" placeholder="Buscar producto">
                    <i  class="fas fa-search"></i>
            </form>
        </div>
    </header>
    
{{/if}}
    <!-- aside login estructure -->
    <aside class="aside-login-e inactive">
      <div class=" login-container">
          <div class="login-close">
              <img src="icons/icon_close.png">
          </div>
              <h2>Ingresa a tu cuenta</h2>
              <div class="form-container">
                  <form action="/login" method="post">
                      <div class="input-container">
                          <label for="email">Ingrese su email</label>
                          <input type="email" name="correo" autocomplete="off" value="" placeholder="Email..." id="email">
                          <small>Nosotros nunca le compartiremos su informacion a nadie.</small>
                      </div>
                      <div class="input-container">
                          <label for="password" autocomplete="off">Contraseña</label>
                          <input type="password" name="contraseña" autocomplete="off" value="" placeholder="·······" id="pass">
                      </div>
                      <div class="button-group">
                          
                          <button class="btn-login"  id="login">Ingresar</button>
                          <a href="/singup" class="btn-transparent" id="registrarse">
                          Regístrate
                          </a>
                      </div>
                  </form>
              </div>
              <div class="alert-sesionFalse" id="alertSesionFalse">
                <!-- aquí va un mensaje de error por que el usuario no existe-->
              </div>
                
        </div>
    </aside>

<div class="contenedor-invicible"></div>

  <!-- Titulo del apartado shop o Store -->
  <div class="container contenedor-titulo">
    <div class="row">
      <div class="col-lg-8 tituloShop">
        <h1 class="TituloH1">
          <b>Nosotros.</b>
          Somos una un nueva startUp de tecnología, encargada de comercializar lo mejor de lo mejor en dispositivos de ultima generación. Con los mejores precios y brindando una increible atencion, debido a lo facil que es navegar en nestra web.</h1>
      </div>
      <div class="col-lg-4 ayuda">
        <div class="contenedor-help">
          <p><i class="bi bi-exclamation-circle-fill"></i>
            ¿Necesitas ayuda en tu compra?</p>
          <input
            type="button"
            class="btn-transparent transparent-ayuda"
            value="Contactanos"
          />
        </div>

       

      </div>
    </div>
  </div>

  <section class="about">
      <div class="container">
          <div class="section__title">
              <h2>Servicios</h2>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="d-flex member">
                      <div class="pic"><img src="/image/FastRelog.png" class="img-fluid" alt=""></div>
                      <div class="ps-4">
                          <h4>Envío rápido</h4>
                          <span></span>
                          <P>Tenemos la atencion a envios más rapidos del pais.</P>
                          <div class="d-flex mt-3">
                            <button class="buttom-cardInfo">COMPRAR</button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mt-4 mt-lg-0">
                  <div class="d-flex member">
                      <div class="pic"><img src="/image/escudo.jpg" class="img-fluid" alt=""></div>
                      <div class="ps-4">
                          <h4>Protección UV</h4>
                          <span></span>
                          <p>Siéntase seguro de sus compras con nuestars garantias.</p>
                          <div class="container-btn-card-info d-flex mt-3">
                            <button class="buttom-cardInfo">COMPRAR</button>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </section>


  <footer>
    <div class="footer-container">
        <div class="item-flex-footer">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        </div>
    
        <div class="item-flex-footer">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, 
        nisi debitis explicabo quibusdam omnis necessitatibus magnam in reprehenderit 
        distinctio deleniti aliquam maiores, asperiores sapiente voluptatibus ab possimus 
        dolore atque incidunt?
        </div>
      </div>
  </footer>

     <script src="utils/main.js"></script>
