<link rel="stylesheet"  TYPE="text/css" href="/css/registro.css">

    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<div class="conten">
        <h1 class="logo">Sign <span>up</span></h1>
        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>Formulario de registro</h3>
                <form action="/singup" method="POST">
                    <p>
                        <label for="nombre">Nombres</label>
                        <input type="text" name="nombre" id="nombres" >
                    </p>
                    <p>
                        <label for="apellido">Apellidos</label>
                        <input type="text" name="apellido" id="apellidos" >
                    </p>
                    <p>
                        <label for="email">Correo electronico</label>
                        <input type="email" name="correo" id="email" >
                    </p>
                    <p>
                        <label for="telefono">Telefono</label>
                        <input type="number" name="telefono" id="telefono" >
                    </p>
                    <p class="block">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" name="contraseña" id="password" >
                    </p>
                    <p class="block">
                        <button value="Ingresar">Registrate</button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>More info</h4>
                <ul>
                    <li><i class="fa-solid fa-map-marker-alt"></i>esto debes cambiarlo</li>
                    <li><i class="fa-solid fa-phone"></i>1234567890</li>
                    <li><i class="fa-solid fa-envelope-open-text"></i>correo de la pagina (no se cual es)</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Libero provident ipsam necessitatibus repellendus?</p>
                <p>Ixon.com</p>
            </div>
        </div>
    </div>
